[Unit]
Description=Trustroots server
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User={{ trustroots__user }}
WorkingDirectory={{ trustroots__current_root_path }}
ExecStart=/usr/bin/node worker.js
Restart=on-failure

[Install]
WantedBy=multi-user.target